LOG_LEVEL=INFO
MQTT_HOST=fhem
MQTT_PORT=1883
MQTT_USER=
MQTT_PASSWORD=
MIDEA_AC_HOST=
MIDEA_AC_PORT=6444
MIDEA_AC_ID=
MIDEA_AC_TOKEN=
MIDEA_AC_KEY=
MIDEA_POLL_INTERVAL=30
MIDEA_TOPIC_BASE=midea/klima
